@font-face {
    font-family: "Brice Black";
    src: url('sources/Fonts/Brice Black.otf') format('truetype');
}

                                    /*----------STYLES GÉNÉRAUX----------*/
* {
    box-sizing: border-box;
}

body {
   /* max-width: 900px;*/
    overflow-x: hidden; /* masque le contenu qui dépasse les bords horizontaux */
    margin: 0 auto;
}

main {
    display: flex;
    justify-content: center;
    overflow: clip;
    position: relative; /* ancre pour #blue-accueil, les coordonnées sont calculées depuis lui */
    min-height: 100vh;  /* minimum toute la hauteur de l'écran, s'étire si le contenu est plus grand */
    background-color: white;
}

header {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* au-dessus du slideur */
}

button {
    padding: 0;
}

h1, h2 {
    font-family: 'Brice Black', sans-serif;
}



h1 {
    font-size: 2.5rem;
    line-height: 42px;
}


h3,h4,h5,h6, p, a, ul, ol, small {
    font-family: 'Outfit', sans-serif;
}
p {
    line-height: 26px;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

a:visited {
    color: inherit;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}

                                    /*----------STYLES HEADER----------*/

.btn-recherche svg,
.btn-compte svg,
.btn-menu svg {
    width: 32px;
    height: 32px;
}

.logo, .logo svg {
    width: 50px;
    height: 32px;
}

.btn-compte, .btn-menu {
    max-width: 32px;
    max-height: 32px;
}
.btn-menu, .search-bar input {
    border: none;        /* On supprime le cadre standard */
    outline: none;       /* Supprimer le cadre bleu lorsque le curseur est sur l'élément */
    background: none;    /* arrière-plan hérité du parent */
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(153, 153, 153, 0.23);
    gap: 5px;
    background: white;
    width: 238px;
    height: 44px;
    flex: 1;
    padding: 4px 8px 4px 16px;
}

.search-bar input {
    font-size: 16px;
    min-width: 50px;
    flex: 1;
}

.btn-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC412;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.btn-recherche svg {
    color: #202020;
    margin: 6px;
}

                                    /*----------STYLES MAIN----------*/

.hero-slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    height: 100vh;
}

.hero-slider::-webkit-scrollbar {
    display: none;
}

.slide {
    overflow: hidden;
    min-width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    position: relative; /* ancre pour le contenu */
}

.slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* s'étend sur tout le bloc */
    object-position: center top;
    z-index: -1;
}

.slide-1 img {
    object-position: right center; /* déplace la zone visible vers la gauche */
}

.slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to bottom,
            white 0%,       /* on conserve le blanc jusqu'à 0 % */
            rgba(255,255,255, 0.7) 23%,  /* début d'une transition abrupte */
            rgba(255,255,255, 0.35) 50%,   /* tombe rapidement */
            rgba(255,255,255, 0.1) 70%,   /* ralentit */
            transparent 85%  /* le dégradé s'estompe progressivement */
    );
    z-index: 1;
}

.slide-content {
    position: relative;
    z-index: 2; /* par-dessus l'image et le dégradé */
    margin-top: 150px; /* Fin de l'en-tête */
    text-align: center;
}

.slide-content svg {
    position: absolute; /* extraire du flux */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centrer au milieu du contenu */
    z-index: -1;
    width: 160%;
    height: 160%;
}

.slide-content h1, .slide-content p {
    margin: 8px auto;
}
.slide-content h1 {
    width: 335px;
    text-transform: uppercase;
}

.slide-content p {
    width: 266px;
}

.btn-invitation {
    display: inline-block;
    padding: 16px 12px;
    margin: 16px auto;
    color: #fff;
    font-size: 1rem;
    line-height: 16px;
    text-align: center;
    background-color: #202020;
    border-radius: 90px;
    transition: transform 0.3s ease;
}

.btn-invitation:visited {
    color: #fff;
}

.btn-invitation:hover {
    transform: scale(1.1);
}

.liste-sections {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin: 48px 56px;
    gap: 40px;
}

.bloc-carte {
    background-color: white;
    padding: 35px 40px;
    width: 328px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 0px rgba(153, 153, 153, 0.23);
    gap: 20px;
}

.bloc-carte svg,
.bloc-carte h3,
.bloc-carte hr,
.bloc-carte p {
    margin: 0;
}

.bloc-carte h3 {
    font-size: 1.5rem;
}

.bloc-carte p {
    font-size: 14px;
    color: #737373;
}

.bth-leger {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #12DFFF;
    font-weight: bold;
    background-color: white;
    border: 2px solid #12DFFF;
    border-radius: 37px;
    width: 164px;
    transition: transform 0.3s ease;
}

.bth-leger:visited {
    color: #12DFFF;
}

.bth-leger:hover {
    transform: scale(1.1);
}

.ligne {
    border: none;          /* убираем стандартный стиль */
    height: 2px;           /* толщина */
    background-color: #FFC412;   /* цвет */
    width: 50px;            /* ширина */
    margin: 16px 0;     /* центрирование */
}

.boitier-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background-color: #FFC412;
    border-radius: 50%;
}

.boitier-icone img {
    width: 40px;
    height: 40px;
}

.bth-leger svg {
    width: 10px;
    height: 16px;
}

#blue-accueil {
    position: absolute; /* sorti du flux, coordonnées depuis main */
    z-index: 0;
    left: -106vmin;               /* dépasse vers la gauche, valeur négative = vers l'extérieur */
    top: 60%;                    /* bord supérieur de l'élément au milieu de main */
    transform: translateY(-50%); /* remonte de la moitié de sa hauteur = centré verticalement */
    width: 145vmin;
    height: 145vmin;             /* valeurs identiques = carré, vmin depuis le petit côté de l'écran */
    border-radius: 50%;          /* arrondit le carré en cercle */
    filter: blur(80px);          /* flou sur l'élément, crée un effet de lueur */
    opacity: 0.97;               /* presque opaque (0 = invisible, 1 = opaque) */
    pointer-events: none;        /* les clics passent à travers l'élément */
    background: radial-gradient(
            circle,         /* forme circulaire du dégradé (ellipse par défaut) */
            #12DFFF,        /* couleur au centre */
            transparent 85% /* disparition progressive à partir de 90% du rayon */
    );
}
/*----------STYLES FOOTER----------*/

footer {
    padding: 48px 24px;
    background: #212121;
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 90vmin;
    margin: 0 auto;
}

.block-liste-logo {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.block-liste-logo svg  {
    width: 50px;
    height: 32px;
    color: white;
}

.block-liste-logo ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    color: white;
    margin: 0;
}

.block-liste-logo ul li a {
    color: white;
}

footer small, footer span {
    text-align: right;
}

footer span {
    display: inline-block;
    margin-top: 62px;
    text-transform: uppercase;
    font-family: 'Brice Black', sans-serif;
    font-size: 84px;
    color: white;
}

footer small {
    font-size: 13px;
    color: #B6B6B6;
}

/* ---------- MEDIA QUERIES ---------- */

@media (min-width: 720px) {

    header {
        gap: 24px;
    }

    #blue-accueil {
        width: 80vmin;
        height: 80vmin;
        left: -55vmin;
    }

    .hero-slider {
        min-height: 1200px;
    }

    .search-bar {
        max-width: 600px;
    }

    .liste-sections {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
